.task-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);

    form {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;

        div {
            margin: 25px;
        }
    }
}